{% extends "base.html" %}
{% autoescape on %}
{% block content %}
{% include "nav.html" %}

<a href="/">back to homepage</a>

{{user.username}},you buy!!!<br/>

{% include "pagenav.html"%}

<table id="result_list" align='center'  class="{%cycle row1 row2%}"> 
<thead>
<tr>


<th scope="col" >
   
   <div class="text"><span>date</span></div>
   <div class="clear"></div>
</th>
<th scope="col" >
   
   <div class="text"><span>price</span></div>
   <div class="clear"></div>
</th>
<th scope="col" >
   
   <div class="text"><span>ptype</span></div>
   <div class="clear"></div>
</th>
<th scope="col" >
   
   <div class="text"><span>img</span></div>
   <div class="clear"></div>
</th>
</tr>
</thead>
<tbody>
{% for obj in products%}
<tr class="row1">
<th>{{obj.odate}} <br/>
<a href="cancelorder?orderID={{obj.id}}">delete</a></th>
<th>{{obj.product.price}} </th>
<th>{{obj.product.ptype }}</th>
<th><img width="100px"  src="/media/{{obj.product.img}}" /> </th></tr>
{%endfor%}
</tbody>
</table>

{% include "pagenav.html"%}
{% endblock %}
{% endautoescape %}